<c-card class="mb-4">
 
  <c-card-footer>
    <c-row class="text-center mb-2" [xl]="5" [lg]="4" [sm]="2" [xs]="1" [gutter]="4">
      <c-col>
        <div class="text-body-secondary">Total Students</div>
        <strong>100 (100%)</strong>
        <c-progress class="mt-2" thin color="success" value="40" aria-label="User visits" />
      </c-col>
      <c-col>
        <div class="text-body-secondary">Junior College</div>
        <div class="fw-semibold text-truncate">50 (50%)</div>
        <c-progress class="mt-2" thin color="success" value="20" aria-label="Unique users" />
      </c-col>
      <c-col>
        <div class="text-body-secondary">Senior College</div>
        <div class="fw-semibold text-truncate">50 (50%)</div>
        <c-progress class="mt-2" thin color="success" value="60" aria-label="Page views" />
      </c-col>
      <c-col>
        <div class="text-body-secondary">Male</div>
        <div class="fw-semibold text-truncate">60 (60%)</div>
        <c-progress class="mt-2" thin color="success" value="80" aria-label="New users" />
      </c-col>
      <c-col class="d-none d-xl-block">
        <div class="text-body-secondary">Female</div>
        <div class="fw-semibold text-truncate">40 (40%)</div>
        <c-progress class="mt-2" thin color="success" value="40" aria-label="Bounce rate" />
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>

<c-row class="mt-4">
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Student Fee Due</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="12" xl="12" xs="12">
            <c-row>
              <c-col xs="3">
                <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">Total</div>
                  <div class="fs-5 fw-semibold">100</div>
                </div>
              </c-col>
              <c-col xs="3">
                <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">
                   JR Students
                  </div>
                  <div class="fs-5 fw-semibold">100</div>
                </div>
              </c-col>
          
              <c-col xs="3">
                <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">JR Students</div>
                  <div class="fs-5 fw-semibold">78</div>
                </div>
              </c-col>
              <c-col xs="3">
                <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">PG Students</div>
                  <div class="fs-5 fw-semibold">49</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary text-center ">
                ST ID
              </th>
              <th class="bg-body-tertiary">Student Info</th>
              <th class="bg-body-tertiary text-center">Total Fees</th>
              <th class="bg-body-tertiary">Paid</th>
              <th class="bg-body-tertiary text-center">Balance</th>
              <th class="bg-body-tertiary">Branc Info</th>
            </tr>
            </thead>
            <tbody>
            
                <tr>
                  <td class="text-center">
                    460
                  </td>
                  <td>
                    <div>RATHOD TRIVENI PRADIP</div>
                    <div class="small text-body-secondary text-nowrap">
                    <span>
                      CASTE CATEGORY	 | VJNT
                    </span>
                    </div>
                  </td>
                  <td class="text-center">
                    405
                  </td>
                  <td>
                    <div class="d-flex justify-content-between">
                      <div class="float-start">
                        <strong>400</strong>
                      </div>
                      <div class="float-end ms-1 text-nowrap">
                        <small class="text-body-secondary">
                          5
                        </small>
                      </div>
                    </div>
                    <c-progress thin [value]="97" color="success" aria-label="Usage" />
                  </td>
                  <td class="text-center">
                    5
                  </td>
                  <td>
                    <div class="small text-body-secondary">11th </div>
                    <div class="fw-semibold text-nowrap">Art</div>
                  </td>
                </tr>
              
            </tbody>
          </table>
        
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>